// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@use "../abstracts" as abs;

.hero {
  &-button {
    margin-bottom: 120px;
    .btn {
      &-primary {
        @include abs.button();
        margin-right: 20px;
        &:hover {
          background-color: abs.$button-darker-color;
        }
      }
      &-secondary {
        color: white;
        display: inline-flex;
        align-items: center;
        font-size: 14px;
        font-weight: 300;
        &:hover {
          color: abs.$button-color;
        }
        img {
          width: 30px;
        }
      }
    }
  }
}
