@use "../abstracts" as abs;

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &-content {
    h1 {
      margin-bottom: 20px;
      margin-top: 15px;
      color: white;
      font-size: 65px;
      font-weight: 700;
      line-height: 1.2;
      font-family: abs.$secondary-font;
    }
    p {
      color: abs.$white-opacity-color;
      max-width: 75%;
      font-size: 20px;
      font-weight: 300;
      line-height: 2rem;
      font-family: abs.$primary-font;
      margin-bottom: 30px;
    }
  }
  &-tools {
    ul {
      @include abs.reset-list();
      max-width: 35%;
      gap: 50px;
      li {
        a {
          display: inline-flex;
          align-items: center;
          gap: 10px;
          color: white;
          text-decoration: none;
          font-size: 16px;
          font-weight: 500;
          line-height: 18px;
          &:hover {
            color: abs.$button-color;
          }
          img {
            padding: 8px;
            border-radius: 30%;
            width: 30px;
            background-color: abs.$white-secondary-opacity-color;
            margin-right: 5px;
          }
        }
      }
    }
  }
  .hero-right-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bg-lines {
    position: absolute;
    top: -43px;
    left: -60px;
    right: -150px;
    bottom: -176px;
    background-image: url("../img/bg-lines.svg");
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center;

    pointer-events: none;
    z-index: 0;
  }
  &-images-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 120px);
    gap: 20px;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin-right: 100px;

    .img-card {
      border-radius: 70px;
      overflow: hidden;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    }
    .img-card img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .person-1 {
      grid-column: 1 / 2;
      grid-row: 1 / 4;
      background-color: abs.$person1-color;
    }
    .person-2 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      height: 150%;
      margin-bottom: 200px;
      background-color: abs.$person2-color;
    }
    .person-3 {
      grid-column: 2 / 3;
      grid-row: 2 / 6;
      background-color: abs.$person3-color;
      margin-top: 60px;
      height: 87%;
    }
    .person-4 {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      background-color: abs.$person4-color;
      height: 150%;
    }
    .person-5 {
      grid-column: 3 / 4;
      grid-row: 1 / 4;
      background-color: abs.$person5-color;
      transform: translateY(40px);
    }
  }
}
