// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

///Break point map - curso conquer
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//container
$max-width-container: 1400px;

// Fonts
$primary-font: "Poppins", sans-serif;
$secondary-font: "Merriweather", serif;

// Page - colors
$bg-color: #2b2d38;
$white-opacity-color: rgb(255, 255, 255, 0.5);
$button-color: #db2a6b;
