// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

///Break point map - curso conquer
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//container
$max-width-container: 1400px;

// Fonts
$primary-font: "Poppins", sans-serif;
$secondary-font: "Merriweather", serif;

// Page - colors
$bg-color: #2b2d38;
$white-opacity-color: rgb(255, 255, 255, 0.5);
$white-secondary-opacity-color: rgb(255, 255, 255, 0.2);
$button-color: #db2a6b;

// Persons - colors
$person1-color: #6e1fed;
$person2-color: #60d3d9;
$person3-color: #ff7e29;
$person4-color: #ff006e;
$person5-color: #f4b840;
